@model IEnumerable<Category>

<div class="text-center my-3">
    <h6 class="display-6">
        Categories
    </h6>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Category Name</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    @foreach(var cat in Model)
    {
        <tr>
            <th scope="row">@cat.CategoryId</th>
            <td>@cat.CategoryName</td>
        </tr>
    }
</table>
