@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary my-3 text-white rounded-5"></i>
        <p>
            Alo 120 Btk Akademi bilgi ve destek hattı
        </p>
        <i class="fa-solid fa-address-book bg-secondary my-3 text-white rounded-5"></i>
        <p>
            Bilgi Teknolojileri ve iletişim Kurumu Eskişehir Yolu 10.Km No: 276 Posta Kodu: 06530 Çankaya/Ankara
        </p>
        <i class="fa-solid fa-envelope bg-secondary  my-3 text-white rounded-5"></i>
        <p>
            destek@btkakademi.gov.tr
        </p>
    </div>
</div>
